<div mat-dialog-content>
  <div class="container">
    <div class="sub-container">
      <button class="fb" mat-button>
        <img src="../../assets/fb.png" srcset="../../assets/fb@2x.png 2x,
        ../../assets/fb@3x.png 3x" alt="" class="fb-logo">

        Login with Facebook</button>
      <button class="google" mat-button>
        <img src="../../assets/g.png" srcset="../../assets/g@2x.png 2x,
        ../../assets/g@3x.png 3x" alt="" class="g-logo">

        Login with Google</button>
      <div class="separation">
        <div class="line"></div>
        <div class="or"> or</div>
        <div class="line"></div>
      </div>
      <div class="input-container">
        <input type="text" placeholder="Email adress">

        <img src="../../assets/mail-icon.png" srcset="../../assets/mail-icon@2x.png 2x,
          ../../assets/mail-icon@3x.png 3x" alt="" class="mail-logo">
      </div>
      <div class="input-container second">
        <input type="text" placeholder="Password">

        <img src="../../assets/icon-lock.png" srcset="../../assets/icon-lock@2x.png 2x,
            ../../assets/icon-lock@3x.png 3x" alt="" style="margin-right: 2.5%;">
      </div>
      <div class="params-container" style="margin-top: 2.6%;">
        <mat-checkbox class="checkbox">Remember me</mat-checkbox>
        <button mat-button>Show password</button>
      </div>
      <button class="login" mat-raised-button>Log In</button>
      <button class="forget" mat-button>Forgot password?</button>
      <div class="l-separation"></div>
      <div class="signup-container">
        <span>Don’t have an account?</span> <button mat-button (click)="openDialogSign()"  class="signup">Sign up</button>
        <!-- [routerLink]="['./signup']" -->
      </div>
    </div>
  </div>
</div>
