.container {
  transform: scale(0.9);
  font-family: "Montserrat", sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  .sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 4%;
    .fb {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 613px;
      height: 63px;
      border-radius: 10px;
      background-color: #4568b2;
      .fb-logo {
        margin-right: 4.4%;
      }
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    .google {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 613px;
      height: 63px;
      margin-top: 3.5%;
      border-radius: 10px;
      border: solid 2px #555555;
      background-color: #ffffff;
      .g-logo {
        margin-right: 4.4%;
      }
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #555555;
    }
    .separation {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 32px 0;
      .line {
        width: 280px;
        height: 1px;
        border: solid 0.5px #bfbfbf;
        background-color: #bfbfbf;
      }
      .or {
        color: #bfbfbf;
      }
    }
    .input-container {
      &.second {
        margin-top: 42px;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      height: 63px;
      border-radius: 10px;
      border: solid 1px #dbdbdb;
      background-color: #ffffff;

      input {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        border: 0px;
        letter-spacing: normal;
        text-align: left;
        outline: none;

        margin-left: 2.8%;
      }
      .mail-logo {
        width: 28px;
        height: 19px;
        object-fit: contain;
        color: #bfbfbf;

        margin-right: 2.5%;
      }
    }

    .params-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .checkbox {
        width: 105px;
        height: 13px;

        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #bfbfbf;
      }
      button {
        display: flex;
        justify-content: flex-end;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3f3194;
      }
    }
    .login {
      display: flex;
      justify-content: center;
      margin-top: 6%;
      width: 613px;
      height: 63px;
      border-radius: 10px;
      background-color: #49e1e6;
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    .forget {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3%;
      color: #3f3194;
    }
    .l-separation {
      width: 100%;
      height: 1px;
      margin-top: 3%;
      border: solid 0.5px #bfbfbf;
      background-color: #bfbfbf;
    }
    .signup-container {
      margin-top: 5%;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      align-items: center;
      .signup {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3f3194;
      }
      span {
        height: 100%;
        margin-right: 12px;
      }
    }
  }
}
