<div mat-dialog-content>
    <div class="container">
        <div class="element">
            <span>Title</span>
            <input type="text" placeholder="ex:machin">
        </div>

        <div class="element">
            <span>Description</span>
            <input type="text" placeholder="ex:machin">
        </div>
        <div class="element">
            <span>Fields</span>
            <input type="text" placeholder="ex:#machin">
        </div>
        <div class="element">
            <span>Requested roles</span>
            <input type="text" placeholder="ex:#machin">
        </div>

        <div class="LastElement">
            <div class="renumeration">
                    <span> Renumeration</span>
                    <div class="checkbox">
                            <mat-checkbox class="first">Yes</mat-checkbox>
                            <mat-checkbox class="second" >No</mat-checkbox>
                    </div>
                    
            </div>

            <button mat-button class="create"> Create</button>
           

        </div>
    </div>
</div>